.input {
    border: none;
    height: 15px;
    width: 200px;
    box-shadow: 0 1px 8px rgba(92, 92, 92, 0.2);
    font-size: 13px;
    font-family: NotoSans;
    padding: 6px 12px;
    border-radius: 5px;
    display: flex;
    align-items: end;
}

.password {
    width: 180px;
}

.error {
    outline: 2px solid #f58081;
}


.errorText {
    color: #f58081;
    margin: 5px 0;
    text-align: right;
    justify-content: flex-end;
    font-size: 9px;
    font-family: NotoSans;
    font-weight: 600;
}

.passwordDiv {
    display: flex;
    width: 225px;
    background-color: white;
    box-shadow: 0 1px 8px rgba(92, 92, 92, 0.2);
        border-radius: 5px;
}


.passwordDiv .error {
    outline: 2px solid #f58081;
}

.passwordDiv:focus-within {
    outline: 2px solid #a04899;
}

.password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
    box-shadow: none;
}

.password:focus {
    outline: none !important;
}

.eyeClosed {
    height: 10px;
    margin: 10px 7px 0px 0;
    cursor: pointer;
}

.eye {
    margin: 5px;
    height: 15px;
    cursor: pointer;
}

.input:focus {
    outline: 2px solid #a04899;
}

.inputFields {
    display: flex;
    flex-direction: column;
    align-items: end;
}