.login {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    aspect-ratio: 1;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.InputFields {
    display: grid;
    grid-template-columns: 1fr 1fr;

}


.line {
    width: 100%;
    height: 0.11px;
    background-color: rgb(179, 179, 179);
    box-shadow: 0 1px 8px rgba(92, 92, 92, 0.2);
    margin: 10px 0px;
}

form {
    width: 100%;
}

label {
    font-size: 18px;
    margin: 10px 0px;
}

* {
    margin: 0px;
    padding: 0;
}

.login__input {
    border: none;
    height: 15px;
    width: 200px;
    box-shadow: 0 1px 8px rgba(92, 92, 92, 0.2);
    font-size: 13px;
    padding: 6px 12px;
    border-radius: 5px;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

input:focus {
    outline: 1px solid #a04899;
}


.login__button {
    color: white;
    background-color: #a04899;
    border: none;
    font-size: 13px;
    padding: 6px 12px;
    border-radius: 6px;

}

.fields {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header {
    padding: 10px 0px 0px 20px;
    text-align: left;
    background: #fefffe;
    position: absolute;
    box-shadow: 0 1px 1px rgba(92, 92, 92, 0.2);
    font-family: Branding;
    font-size: 20px;
    height: 5%;
    width: 100%;
    border-radius: 20px 0px 0px 0;
    /* font-weight: 200; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    /* background-image: linear-gradient(to top right, #571058, #8d328d); */
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: #f8f9fa;
}

@font-face {
    font-family: Branding;
    src: url("../fonts/Branding_Light_Italic.otf") format("opentype");
}